* { 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    margin: 0;}
header{ 
    font-size: 1.75em;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: bold;}
div{
    float: left;
    border: 10px blue;
    padding: 10px;
}
section { 
    position: relative;
    background-color: rgb(175, 170, 170);
    border: 1px solid black;
    margin: 5px;} 
article { 
    font-size: 1.25em;
    text-align: center;
    width: 30%;
    border-bottom: 1px solid  black;
    border-left: 1px solid  black;
    float: right;}

#chicken { background-color: cornflowerblue;}
#beef { background-color: yellowgreen;}
#sushi { background-color: orange;}
p {
    color: white;
    clear: right;
    padding: 10px;
}

@media (min-width: 992px){
    div { width: 33%;}
}
@media (max-width: 991px) and (min-width:768px) {
    div{ width: 50%;}
    body :nth-child(4){ width: 100%;}
}
@media (max-width: 767px){
    div { width: 100%;}
}